SAF.AgenteServicios/Service References/ProxyServicioPropuestaAuditoria/ServicioPropuestaAuditoria3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SAF.Entidad" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SAF.Entidad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSP_SAF_MEJOREQUIPO_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SP_SAF_MEJOREQUIPO_Result" nillable="true" type="tns:SP_SAF_MEJOREQUIPO_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSP_SAF_MEJOREQUIPO_Result" nillable="true" type="tns:ArrayOfSP_SAF_MEJOREQUIPO_Result" />
  <xs:complexType name="SP_SAF_MEJOREQUIPO_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CAPAHORAUDFIN" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CAPAHORGESPUB" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CAPAPUNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CODAUD" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CODCAR" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DISPON" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EXPHORAUDFIN" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EXPHORGESPUB" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EXPPUNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NOMCAR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMCOMAUD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOTALPUNT" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SP_SAF_MEJOREQUIPO_Result" nillable="true" type="tns:SP_SAF_MEJOREQUIPO_Result" />
</xs:schema>