SAF.AgenteServicios/Service References/ProxyServicioPropuestaAuditoria/ServicioPropuestaAuditoria.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:33694/ServicioPropuestaAuditoria.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SAF.DTO" />
  <xs:import schemaLocation="http://localhost:33694/ServicioPropuestaAuditoria.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SAF.Entidad" />
  <xs:element name="GrabarInvitacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SAF.DTO" minOccurs="0" name="entidad" nillable="true" type="q1:InvitacionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarInvitacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SAF.DTO" minOccurs="0" name="GrabarInvitacionResult" nillable="true" type="q2:InvitacionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarInvitacion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarInvitacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SAF.DTO" minOccurs="0" name="ListarInvitacionResult" nillable="true" type="q3:ArrayOfInvitacionViewDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerMejorEquipoAuditoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPublicacion" type="xs:int" />
        <xs:element minOccurs="0" name="idServicioAud" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerMejorEquipoAuditoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SAF.Entidad" minOccurs="0" name="VerMejorEquipoAuditoriaResult" nillable="true" type="q4:ArrayOfSP_SAF_MEJOREQUIPO_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>