SAF.AgenteServicios/Service References/ProxyServicioGestionSoaAuditor/ServicioGestionSoaAuditor4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:33694/ServicioGestionSoaAuditor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SAF.DTO" />
  <xs:element name="ListarTodoTipoSolicitud">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodoTipoSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SAF.DTO" minOccurs="0" name="ListarTodoTipoSolicitudResult" nillable="true" type="q1:ArrayOfTipoSolicitudDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SAF.DTO" minOccurs="0" name="entidad" nillable="true" type="q2:SolicitudInsActDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SAF.DTO" minOccurs="0" name="GrabarSolicitudResult" nillable="true" type="q3:SolicitudInsActDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>