SAF.AgenteServicios/Service References/ProxyServicioConcursoPublicoMerito/ServicioConcursoPublicoMerito1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SAF.Entidad" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SAF.Entidad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SP_SAF_CORTEPUBLICACION_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="EXITO" type="xs:int" />
      <xs:element minOccurs="0" name="MENSAJE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SP_SAF_CORTEPUBLICACION_Result" nillable="true" type="tns:SP_SAF_CORTEPUBLICACION_Result" />
</xs:schema>