SAF.AgenteServicios/Service References/ProxyServicioConcursoPublicoMerito/ServicioConcursoPublicoMerito3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:33694/ServicioConcursoPublicoMerito.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SAF.DTO" />
  <xs:import schemaLocation="http://localhost:33694/ServicioConcursoPublicoMerito.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SAF.Entidad" />
  <xs:element name="GrabarCronograma">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SAF.DTO" minOccurs="0" name="entidad" nillable="true" type="q1:CronogramaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarCronogramaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SAF.DTO" minOccurs="0" name="GrabarCronogramaResult" nillable="true" type="q2:CronogramaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarCronoEntidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SAF.DTO" minOccurs="0" name="entidad" nillable="true" type="q3:CronoEntidadDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarCronoEntidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SAF.DTO" minOccurs="0" name="GrabarCronoEntidadResult" nillable="true" type="q4:CronoEntidadDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPublicacion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPublicacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SAF.DTO" minOccurs="0" name="ListarPublicacionResult" nillable="true" type="q5:ArrayOfPublicacionViewDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublicarPublicacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublicarPublicacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SAF.DTO" minOccurs="0" name="PublicarPublicacionResult" nillable="true" type="q6:PublicacionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarCortePublicacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPublicacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarCortePublicacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SAF.Entidad" minOccurs="0" name="GenerarCortePublicacionResult" nillable="true" type="q7:SP_SAF_CORTEPUBLICACION_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerResultadoCorte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPublicacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerResultadoCorteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SAF.DTO" minOccurs="0" name="VerResultadoCorteResult" nillable="true" type="q8:ArrayOfResultadoCorteSpDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>